header{
    background-color: aqua;
    text-align: center;
    padding: 32px 0;
}

header h1{
    color: white;
    text-align: center;
}

.bookmarklet_wrapper{
    margin: 0 32px;
}

footer{
    height: 100px;
}